# Ignore Python cache directories
__pycache__/

# zig build cache

.zig-cache/
zig-cache/ 
zig-out/
 
# Ignore all .hex files
*.hex

# Other common ignores
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
